
 <body>
   <h1 class="top">ようこそ <strong>Bookers</strong> へ！</h1>

<p><strong>&emsp;&emsp;Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
<p>&emsp;&emsp;印象を共有し交換することができます</p>

<p>&emsp;&emsp;<%= link_to "start", books_path %></p>
 </body>
</html>
